{% extends 'base.html' %}

{% block title %}
    Om
{% endblock %}

{% block heading %}
    Om Picourl
{% endblock %}

{% block content %}
<div class="container main-text mt-5">
    <h1 class="font-weight-normal">Hvorfor findes picourl?</h1>
    <p>
        Picourl.dk var mit (<a href="https://www.linkedin.com/in/jonas-uj-2669a11b4/">Jonas UJ</a>'s) eksamensprojekt i Programmering B på HTX.
        Til projektet er der blandt andet brugt:
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Python (Django)</li>
            <li class="list-group-item">JavaScript/HTML/CSS</li>
            <li class="list-group-item">SQLite</li>
            <li class="list-group-item">DigitalOcean (Hosting)</li>
            <li class="list-group-item">Git</li>
        </ul>
        <br>
        Projektets kildekode er tilgængelig på <a href="https://github.com/JonasUJ/urlshort">min GitHub</a>
    </p>
</div>
{% endblock %}
