{% extends 'base.html' %}
{% load static %}
{% load octicons %}

{% block title %}
URL Forkorter
{% endblock %}

{% block heading %}
Picourl URL Forkorter
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static "urlshort/css/main_page.css" %}" />
<script src="{% static "urlshort/js/main_page.js" %}"></script>
{% endblock %}

{% block content %}

{# Creation form #}
<form id="form-input" action="#" class="form-inline">
    <input id="link-input" type="url" class="form-control col rounded-pill" placeholder="Forkort et link!" maxlength="512" />
    <button id="post-btn" name="submit" type="submit" class="btn btn-primary relative rounded-circle">
        <div class="spinner-border spinner-border-sm justify-content-center" role="status" aria-hidden="true"></div>
        <span class="btn-text justify-content-center d-flex align-items-center">
            {% octicon "chevron-right" height="24" %}
        </span>
    </button>
</form>

{# Small error text #}
<div style="height: 24px">
    <div id="error-text" class="text-center collapse">
        <i class="small text-danger"></i>
    </div>
</div>

{# Name picker #}
<div class="mx-auto">
    <div id="urlname-form" class="form-inline">
        <p class="mr-2 mb-0">Vælg eventuelt et navn selv</p>
        <div class="d-flex flex-wrap">
            <label for="urlname" class="form-control-label d-flex align-items-center text-muted p-0 mb-0">{{ request.scheme }}://{{ request.META.HTTP_HOST }}/+</label>
            <div class="d-inline-flex flex-nowrap">
                <input id="urlname" type="text" class="form-control" placeholder="mit-link" maxlength="9" data-toggle="tooltip" data-placement="bottom" title="Kun bogstaver, tal, '_' og '-' er tilladt. Må kun være 1 til 9 tegn." />
                <div class="d-inline-flex align-items-center relative icon-div">
                    <div id="urlname-spinner" class="spinner-border spinner-border-sm justify-content-center align-items-center" role="status" aria-hidden="true"></div>
                    <span id="urlname-check" data-toggle="tooltip" title="Ledigt">{% octicon "check" height="24" fill="var(--success)" %}</span>
                    <span id="urlname-cross" data-toggle="tooltip" title="Ikke tilgængeligt">{% octicon "x" height="24" fill="var(--danger)" %}</span>
                </div>
            </div>
        </div>
    </div>
</div>

{# Explanation #}
<div class="container main-text mt-5">
    <h4 class="font-weight-normal">Hvordan fungerer det?</h4>
    <p>
        Du indsætter et link i det store input felt i toppen
        (f.eks <a href="{% url 'main' %}">{{ request.scheme }}://{{ request.META.HTTP_HOST }}/</a>)
        og trykker på den blå knap, så simpelt er det. Vælger du ikke selv et navn til din picourl,
        bliver den tildelt et automatisk.
    </p>
</div>

{# Hidden modal #}
<div class="modal fade" id="url-modal" tabindex="-1" role="dialog" aria-labelledby="url-modal-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="url-modal-title">Din Picourl er klar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="picourl" class="text-center"></div>
                <div class="collapse">
                    <label for="key" class="mt-4">
                        Opret en nøgle til denne picourl for at kunne bevise ejerskab, i tilfælde at
                        du ønsker den deaktiveret. Du kan deaktivere den ved at finde den med
                        søgefeltet i toppen af siden.
                    </label>
                    <div class="form-inline">
                        <input id="key" class="form-control mr-1 mb-1" type="password" placeholder="Nøgle" maxlength="64" />
                        <input id="key-submit" class="btn btn-primary mb-1" type="submit" name="submit" value="Anvend" />
                    </div>
                    <div style="height: 24px">
                        <div id="error-text-key" class="text-center collapse">
                            <i class="small text-danger"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="key-btn" type="button" class="btn btn-secondary">Opret nøgle</button>
                <button id="url-copy" type="button" class="btn btn-primary">{% octicon "clippy" height="24" style="margin-top: -6px" %} Kopier</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}